@model Proiect_Licenta.Models.Aircraft

<link rel="stylesheet"
      href="~/css/AircraftCard.css"
      asp-append-version="true" />

<div class="aircraft-card">

    <div class="aircraft-card-header">

        <div class="aircraft-model">
            ✈ @Model.Model
        </div>

        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            @if (User.Identity.Name == Model.Airline.User.UserName
                    || User.IsInRole("Admin"))
            {
                <form method="post"
                      asp-page="/_Actions"
                      asp-page-handler="DeleteAircraft">

                    <input type="hidden"
                           name="aircraftId"
                           value="@Model.Id" />

                    <button type="button"
                            class="delete-aircraft-btn"
                            onclick="openDeleteModal('@Model.Id', 'Aircraft')">

                        ✖

                    </button>

                </form>
            }
        }

    </div>

    <div class="aircraft-card-body">

        <div class="aircraft-info-box">

            <span class="aircraft-label">
                Seats
            </span>

            <span class="aircraft-value">
                @Model.TotalSeats
            </span>

        </div>

        <div class="aircraft-info-box">

            <span class="aircraft-label">
                Flights
            </span>

            <span class="aircraft-value">
                @Model.Flights.Count
            </span>

        </div>

    </div>

</div>