@using Microsoft.AspNetCore.Mvc.RazorPages
@{
    var currentPage = ViewContext.RouteData.Values["page"]?.ToString() ?? "";
    var currentArea = ViewContext.RouteData.Values["area"]?.ToString() ?? "";

    bool IsActive(string page, string area = "")
    {
        if (!string.IsNullOrEmpty(area) && currentArea.Equals(area, StringComparison.OrdinalIgnoreCase))
        {
            return true;
        }
        return currentPage.Equals(page, StringComparison.OrdinalIgnoreCase);
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wingo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Post.css" asp-append-version="true" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="~/Proiect_Licenta.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-light bg-white border-bottom box-shadow mb-3 px-4">

            <div class="container-fluid">
                <a class="navbar-brand d-flex align-items-center" asp-area="" asp-page="/Index">
                    <img src="~/favicon.png" class="logo" style="width:30px; margin-right:10px;" />
                    <span>Wingo</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between nav-buttons">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(IsActive("/Index") ? "active" : "")" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(IsActive("/Feed") ? "active" : "")" asp-page="/Feed">Feed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(IsActive("/Flight") ? "active" : "")" asp-page="/Flight">Flight</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(IsActive("/Leaderboard") ? "active" : "")" asp-page="/Leaderboard">Leaderboard</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(IsActive("/FlightTracking") ? "active" : "")" asp-page="/FlightTracking">FlightTracking</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link @(IsActive("/Post") ? "active" : "")" asp-page="/Post">
                                    Post <i class="fa-solid fa-plus"></i>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link @(IsActive("/AdminData") ? "active" : "")" asp-page="/AdminData">AdminData</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - Wingo - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/post-actions.js" asp-append-version="true"></script>
    <partial name="_DeleteModal" />
    <partial name="_ReportModal" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>