@page
@model Proiect_Licenta.Pages.CustomProfileModel


<link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />


<div class="background">
    <h2>@Model.CurrentUser.UserName</h2>

    @if(Model.CurrentUser.IsCompany)
    {
        <div class="company-profile">
            <img src="@Model.CurrentUser.Airline.LogoUrl" alt="Company Logo" class="company-logo" />
        </div>

        @if (User.IsInRole("Admin"))
        {
            <hr />
            <p><strong style="color:blue;">Aircrafts:</strong></p>

            @if (!Model.CurrentUser.Airline.Aircraft.Any())
            {
                <p>No aircrafts yet.</p>
            }
            else
            {
                <div class="company-aircrafts">
                    @foreach (var aircraft in Model.CurrentUser.Airline.Aircraft)
                    {
                        <hr />
                        <a asp-page="/AircraftInfo" asp-route-id="@aircraft.Id" class="aircraft-link">
                            <partial name="_AircraftCard" model="aircraft" />
                        </a>
                        <hr />
                    }
                </div>
            }
        }


        <p><strong style="color:blue;">Flights:</strong></p>

        <div class="company-flights">

            @if (!Model.CurrentUser.Airline.Aircraft.Any())
            {
                <p>No flights yet.</p>
            }
            else
            {
                <div class="flight-grid">

                    @foreach (var flight in Model.CurrentUser.Airline.Aircraft.SelectMany(ac => ac.Flights))
                    {
                        <div class="flight-with-bookings">
                            <partial name="_FlightCard" model="flight" />
                        </div>
                    }

                </div>
            }

        </div>
    }
    else
    {
        <p><strong style="color:blue;">Level:</strong> <span style="color:green;">@Model.CurrentUser.Level</span></p>

        @if (@Model.CurrentUser.Level > 0)
        {

            <p>
                <strong style="color:blue;">Points:</strong>
                <span style="color:orange;">@Model.CurrentUser.Level</span>
            </p>
        }
        else
        {
            <p>
                <strong style="color:blue;">Points:</strong>
                <span style="color:orange; font-weight:bold;">No points</span>
            </p>
        }


        <p><strong style="color:blue;">Badges:</strong></p>

        @if (@Model.CurrentUser.UserBadges.Count == 0)
        {
            <p>No badges yet.</p>
        }
        else
        {
            <div class="badge-grid">
                @foreach (var ub in Model.CurrentUser.UserBadges)
                {
                    <partial name="_BadgeCard" model="ub" />
                }
            </div>
        }
    }

    



    <p><strong style="color:blue;">Posts:</strong></p>

    @if (!Model.CurrentUser.Posts.Any())
    {
        <p>No posts yet.</p>
    }
    else
    {
        <div class="post-grid">

            @foreach (var post in Model.CurrentUser.Posts)
            {
                <partial name="_PostCard" model="post" />
            }

        </div>
    }

</div>


<partial name="_DeleteModal" />




<div class="modals-container-layer">
    @foreach (var post in Model.CurrentUser.Posts)
    {
        <partial name="_CommentsModal" model="post" />
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
